<div class="flex min-h-screen">
  <aside
    class="h-screen w-64 fixed left-0 top-0 bg-gray-900 text-white flex flex-col"
  >
    <div class="p-4 border-b border-gray-700 flex items-center justify-center">
      <i class="mx-2 fa-solid fa-cart-shopping text-indigo-400"></i>
      <span class="text-lg font-semibold">Ecommerce CMS</span>
    </div>

    <nav class="flex-1 overflow-y-auto p-3 space-y-1">
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="bg-slate-800 font-semibold"
        class="flex items-center gap-3 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-800 transition"
      >
        <i class="fa-solid fa-hashtag"></i>
        <span>Dashboard</span>
      </a>
      <a
        routerLink="/admin/products"
        routerLinkActive="bg-slate-800 font-semibold"
        class="flex items-center gap-3 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-800 transition"
      >
        <i class="fa-solid fa-box"></i>
        <span>Products</span>
      </a>
      <a
        routerLink="/admin/orders"
        routerLinkActive="bg-slate-800 font-semibold"
        class="flex items-center gap-3 px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-800 transition"
      >
        <i class="fa-solid fa-boxes-packing"></i>
        <span>Orders</span>
      </a>
    </nav>

    <div class="p-4 border-t border-gray-700 text-center">
      <app-button
        label="Logout"
        variant="danger"
        icon="fa-solid fa-right-from-bracket"
        class="w-full"
        (click)="openLogoutConfirm()"
      />
    </div>
  </aside>

  <app-confirmation-modal
    *ngIf="showLogoutConfirm"
    title="Confirm Logout"
    message="Are you sure you want to logout?"
    (confirm)="confirmLogout()"
    (cancel)="cancelLogout()"
  />

  <div class="flex-1 ml-64 flex flex-col min-h-screen">
    <main class="flex-1 p-6 pb-16">
      <router-outlet></router-outlet>
    </main>

    <footer
      class="fixed bottom-0 left-64 right-0 h-10 bg-white border-t border-gray-200 flex items-center justify-center z-40"
    >
      <p class="text-xs text-gray-500">© 2026 E-commerce Admin</p>
    </footer>
  </div>
</div>
