<div class="flex justify-center items-center gap-2 mt-8">
  <button
    class="px-3 py-2 border rounded-lg text-sm transition hover:bg-indigo-600 hover:text-white disabled:opacity-40 "
    (click)="prev()"
    [disabled]="currentPage === 1"
  >
    Previous
  </button>

  <button
    *ngFor="let page of pages()"
    (click)="changePage(page)"
    class="px-3 py-2 border rounded-lg text-sm transition"
    [ngClass]="
    page === currentPage
      ? 'bg-indigo-600 text-white border-indigo-600'
      : 'bg-white text-gray-700 hover:bg-indigo-600 hover:text-white'
  "
  >
    {{ page }}
  </button>

  <button
    class="px-3 py-2 border rounded-lg text-sm transition hover:bg-indigo-600 hover:text-white disabled:opacity-40 "
    (click)="next()"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>
