<div class="space-y-6">
  <app-page-header title="Products">
    <app-button
      variant="primary"
      label="Add Product"
      icon="fa-plus"
      (click)="openAddModal()"
    />
  </app-page-header>

  <app-error-state
    *ngIf="errorMessage"
    [message]="errorMessage"
  ></app-error-state>

  <app-empty-state
    *ngIf="!errorMessage && products.length === 0"
    title="No Products Found"
    description="Start by adding your first product."
  ></app-empty-state>

  <div *ngIf="products.length > 0" class="p-4 overflow-x-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-card *ngFor="let product of paginatedProducts">
        <div card-title>
          {{ product.name }}
        </div>

        <div card-header-right>
          <span
            class="px-3 py-1 text-xs font-medium rounded-full bg-indigo-600 text-white hover:bg-indigo-700 active:scale-[0.98] text-primary"
          >
            {{ product.category }}
          </span>
        </div>

        <div card-body class="flex flex-col justify-between h-full">
          <div class="text-gray-600">
            {{ product.description }}
          </div>

          <div
            class="flex justify-between text-sm font-medium text-gray-800 my-4"
          >
            <span> ₹{{ product.price | number }} </span>
            <span> Stock: {{ product.stock }} </span>
          </div>
        </div>

        <div class="flex justify-end gap-3" card-actions>
          <app-button
            variant="secondary"
            label="Edit"
            icon="fa-edit"
            (click)="openEditModal(product)"
          ></app-button>

          <app-button
            variant="danger"
            label="Delete"
            icon="fa-trash"
            (click)="openDeleteModal(product)"
          ></app-button>
        </div>
      </app-card>
    </div>

    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="goToPage($event)"
    ></app-pagination>

    <app-confirmation-modal
      *ngIf="showDeleteModal"
      title="Delete Product"
      [message]="
        'Are you sure you want to delete ' +
        selectedProduct?.name +
        '? This action cannot be undone.'
      "
      confirmText="Delete"
      confirmVariant="danger"
      confirmIcon="fa-trash"
      (confirm)="confirmDelete()"
      (cancel)="closeDeleteModal()"
    >
    </app-confirmation-modal>

    <div
      *ngIf="showAddModal"
      class="fixed inset-0 bg-black/40 flex items-center justify-center z-50"
    >
      <div class="bg-white rounded-2xl shadow-2xl w-full max-w-lg p-6">
        <app-add-products
          *ngIf="showAddModal"
          (save)="loadProducts()"
          (close)="closeAddModal()"
        />
      </div>
    </div>

    <div
      *ngIf="showEditModal"
      class="fixed inset-0 bg-black/40 flex items-center justify-center z-50"
    >
      <div class="bg-white rounded-2xl shadow-2xl w-full max-w-lg p-6">
        <app-edit-product
          [product]="selectedProduct"
          (save)="updateProductTable($event)"
          (close)="closeEditModal()"
        />
      </div>
    </div>
  </div>
</div>
