<div
  *ngIf="control && control.touched && control.errors"
  class="text-red-500 text-xs mt-1"
>
  <span *ngIf="control.errors['required']">
    {{ requiredMessage }}
  </span>

  <span *ngIf="control.errors['email'] && !control.errors['required']">
    {{ emailMessage }}
  </span>

  <span *ngIf="control.errors['minlength'] && !control.errors['required']">
    {{ minlengthMessage }}
  </span>

  <span *ngIf="control.errors['min'] && !control.errors['required']">
    {{ minMessage }}
  </span>

  <span *ngIf="control.errors['max'] && !control.errors['required']">
    Max quantity allows
    {{ control.errors["max"].max }} items.
  </span>
</div>
