<section
  class="min-h-screen flex items-center justify-center bg-gray-50 dark:bg-gray-900 p-4 transition-colors duration-300"
>
  <div
    class="w-full max-w-md bg-white dark:bg-gray-800 rounded-xl shadow-xl border border-gray-200 dark:border-gray-700 p-8"
  >
    <div class="flex flex-col items-center mb-6">
      <div
        class="w-12 h-12 bg-indigo-600 rounded-lg flex items-center justify-center mb-4 shadow-lg shadow-indigo-200 dark:shadow-none"
      >
        <i class="fa-solid fa-cart-shopping text-white text-2xl"></i>
      </div>
      <h2
        class="text-xl font-bold text-gray-900 dark:text-white tracking-tight"
      >
        ECommerce App
      </h2>
    </div>

    <hr class="w-full border-gray-200 dark:border-gray-700 my-4" />

    <p
      class="text-lg text-gray-500 dark:text-gray-400 mt-1 leading-relaxed text-center"
    >
      Sign in or explore Demo Mode
    </p>

    <hr class="w-full border-gray-200 dark:border-gray-700 mt-4 mb-6" />

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <app-text
        label="Email"
        placeholder="admin@example.com"
        [control]="f.email"
        [requiredMessage]="formErrorMessages.REQUIRED"
        [emailMessage]="formErrorMessages.EMAIL"
      />

      <app-text
        label="Password"
        placeholder="Enter your password"
        [control]="f.password"
        [requiredMessage]="formErrorMessages.REQUIRED"
        [minlengthMessage]="formErrorMessages.MIN_LENGTH"
      />

      <div *ngIf="loginError" class="text-sm text-red-500">
        {{ loginError }}
      </div>

      <div class="flex justify-between items-center mt-6">
        <button
          type="button"
          (click)="continueAsGuest()"
          [disabled]="isSubmitting"
          class="text-sm cursor-pointer font-medium text-indigo-600 dark:text-indigo-400 hover:text-indigo-700 dark:hover:text-indigo-300 transition-colors"
        >
          Explore Demo Mode &rarr;
        </button>
        <app-button
          variant="primary"
          type="submit"
          label="Sign In"
          [disabled]="isSubmitting"
        />
      </div>
    </form>
  </div>
</section>
