<div class="w-full mb-2">
  <label *ngIf="label" class="block text-sm font-medium mb-2">
    {{ label }}
  </label>

  <select
    [formControl]="control"
    class="w-full h-12 rounded-lg border px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
  >
    <option value="" disabled selected *ngIf="placeholder">
      {{ placeholder }}
    </option>

    <option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </option>
  </select>

  <div class="min-h-[18px] mt-1">
    <app-input-error [control]="control" [requiredMessage]="requiredMessage" />
  </div>
</div>
