<div
  *ngIf="loadingService.loading$ | async"
  class="fixed inset-0 z-9999 flex items-center justify-center bg-black/40 backdrop-blur-sm transition-opacity"
>
  <div
    class="bg-white dark:bg-gray-800 px-8 py-7 rounded-2xl shadow-xl flex flex-col items-center gap-4 min-w-[140px] border border-gray-100 dark:border-gray-700"
  >
    <div
      class="h-12 w-12 border-[3px] border-indigo-500 border-t-transparent rounded-full animate-spin"
    ></div>

    <p
      class="text-sm font-medium text-gray-600 dark:text-gray-400 tracking-wide"
    >
      Loading...
    </p>
  </div>
</div>
